h1 {
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-left: 650px;
    background-color: turquoise;
    width: 340px;
    padding: 10px
}

h1:hover {
    color: turquoise;
    background-color: white;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: lighter;
    margin-left: 470px;
}

img {
    margin-left: 200px;
}

svg {
    margin-left: 300px;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 400px;
}